<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yang.module_mine">

    <application>
        <activity android:name=".ui.activity.MineSettingActivity"/>
        <activity android:name=".ui.activity.MineChangePasswordActivity"/>
        <activity android:name=".ui.activity.MineChangePhoneActivity"/>
    </application>
</manifest>